# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Firebase
functions/.env
functions/.runtimeconfig.json
functions/.secret.local

# Native
.kotlin/
.gradle-local/
android/.gradle/
android/app/build/
android/build/
ios/build/
ios/Pods/

# Certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# env
.env*
.env*.local

# typescript
*.tsbuildinfo

# misc
coverage/
app-example